<!DOCTYPE html>
<html>
  <head>
    <title><%= header %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Les membres de l'équipe sont: Nicolas Payre et mon chien Patou</p>
  </body>
</html>
